<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Crear Cuenta Nueva</h2>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-msg">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="/register">
            <div>
                <label>Nombre de Usuario</label>
                <input type="text" name="username" required placeholder="Elige un usuario único">
            </div>

            <div>
                <label>Email</label>
                <input type="email" name="email" required placeholder="tu@email.com">
            </div>

            <div>
                <label>Rol / Profesión</label>
                <select name="role" style="width: 100%; padding: 12px; border-radius: 0.75rem; border: 1px solid #d1d5db; background-color: #f9fafb;">
                    <option value="administrativo">Administrativo (Gestión)</option>
                    <option value="tecnico">Técnico (Salud)</option>
                    <option value="medico">Médico (Salud)</option>
                </select>
            </div>
            <div>
                <label>Contraseña</label>
                <input type="password" name="password" required placeholder="Contraseña segura">
            </div>

            <button type="submit" class="btn-primary">Registrarse</button>
        </form>

        <a href="/login" class="link-text">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
</body>
</html>